.product_page_call_to_action {
  background-color: #fff;
  padding: 100px 0;
  background-image: url('../../assets/images/left_bg.svg'), url('../../assets/images/right_bg.svg');
  background-repeat: no-repeat;
  background-position: top left, top right;

  @media only screen and (max-width: 1024px) {
    background-size: 155px;
    padding: 40px;
  }

  .heading {
    text-align: center;
    margin-bottom: 50px;

    @media only screen and (max-width: 1024px) {
      margin-bottom: 40px;
    }

    @media only screen and (max-width: 767px) {
      margin-bottom: 25px;
    }

    h4 {
      color: #000;
      font-size: 54px;
      line-height: 60px;
      width: 660px;
      margin: 0 auto 20px;

      @media only screen and (max-width: 1024px) {
        font-size: 40px;
        line-height: 46px;
        width: 490px;
        margin: 0 auto 13px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 39px;
        line-height: 47px;
        width: 349px;
      }
    }
  }
  .call_to_action_btn{
    text-align: center;
  }
}