.experience-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .experience-heading{
        font-size: 54px;
        color: white;
        text-align: center;
        width: 550px;
    }

    .experience-para{
        color: #F9F9F9;
        font-size: 22px;
        width: 500px;
        text-align: center;
        font-weight: 200;
    }
}