.call_to_action {
  background-color: #fff;
  padding: 100px 0;
  background-image: url('../../assets/images/left_bg.svg'), url('../../assets/images/right_bg.svg');
  background-repeat: no-repeat;
  background-position: top left, top right;

  .heading {
    text-align: center;
    margin-bottom: 50px;

    h4 {
      color: #000;
      font-size: 54px;
      line-height: 60px;
      width: 660px;
      margin: 0 auto 20px;
    }
  }
  .call_to_action_btn{
    text-align: center;
  }
}