.experience_feature {
  padding: 100px 0 0;

  @media only screen and (max-width: 1024px) {
    padding: 60px 0 0;
  }

  .heading {
    text-align: center;
    margin-bottom: 20px;

    h4 {
      color: #fff;
      font-size: 54px;
      line-height: 60px;
      width: 599px;
      margin: 0 auto 20px;

      @media only screen and (max-width: 1024px) {
        font-size: 43px;
        line-height: 46px;
        width: 445px;
        margin: 0 auto 13px;    
      }
      @media only screen and (max-width: 767px) {
        font-size: 25px;
        line-height: 34px;
        width: 275px;
      }
    }

    span {
      color: rgba(249,249,249,0.8);
      width: 355px;
      display: inline-block;
      font-size: 14px;
      font-family: "Inter", sans-serif;

      @media only screen and (max-width: 1024px) {
        font-size: 12px;
      }
      @media only screen and (max-width: 767px) {
        font-size: 10px;
        width: 220px;
      }
    }
  }
  .image {
    text-align: center;
  }
}
// Discover_power
.discover_power {
  padding: 30px 0;

  @media only screen and (max-width: 1024px) {
    padding: 15px 0;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;

    h4 {
      color: #fff;
      font-size: 54px;
      line-height: 60px;
      width: 599px;
      margin: 0 auto 20px;

      @media only screen and (max-width: 1024px) {
        font-size: 43px;
        line-height: 46px;
        width: 445px;
        margin: 0 auto 13px;    
      }

      @media only screen and (max-width: 767px) {
        font-size: 25px;
        line-height: 34px;
        width: 275px;
      }
    }
  }

  .box_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 65px;
    padding: 0 130px;

    @media only screen and (max-width: 1024px) {
      text-align: center;
    }

    .box {
      width: 35%;
      margin-bottom: 50px;
      
      @media only screen and (max-width: 1024px) {
        width: 40%;
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
      }

      &:nth-child(3) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .title {
        span {
          color: #F9F9F9;
          font-size: 22px;
          margin-top: 20px;
          display: inline-block;

          @media only screen and (max-width: 767px) {
            // font-size: 17px;
            margin-top: 8px;
          }
        }
      }
      .description {
        p {
          color: rgba(249,249,249,0.8);
          font-family: "Inter", sans-serif;

          @media only screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}