.experience_feature {
  padding: 100px 0 0;
  .heading {
    text-align: center;
    margin-bottom: 20px;

    h4 {
      color: #fff;
      font-size: 54px;
      line-height: 60px;
      width: 599px;
      margin: 0 auto 20px;
    }

    span {
      color: rgba(249,249,249,0.8);
      width: 355px;
      display: inline-block;
      font-size: 14px;
      font-family: "Inter", sans-serif;
    }
  }
  .image {
    text-align: center;
  }
}
// Discover_power
.discover_power {
  padding: 30px 0;
  
  .heading {
    text-align: center;
    margin-bottom: 20px;

    h4 {
      color: #fff;
      font-size: 54px;
      line-height: 60px;
      width: 599px;
      margin: 0 auto 20px;
    }
  }

  .box_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 65px;

    .box {
      // border: solid 1px #fff;
      width: 30%;
      margin-bottom: 50px;
      margin-right: 35px;

      &:nth-child(3) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .title {
        span {
          color: #F9F9F9;
          font-size: 22px;
          margin-top: 20px;
          display: inline-block;
        }
      }
      .description {
        p {
          color: rgba(249,249,249,0.8);
          font-family: "Inter", sans-serif;
        }
      }
    }
  }
}