.lading_header {
  border-bottom: solid 1px #F9F9F9;
  padding: 10px 0;
  
  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lading_header_right {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .navigation {
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
    
          li {
            margin-right: 10px;
    
            &:last-child {
              margin-right: 0;
            }
    
            a {
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
    
              svg {
                width: 15px;
                margin-left: 10px;
                
                path {
                  fill: #fff;
                }
              }
            }
          }
        }
      }
      .header_btn {
        button {
          &:first-child {
            margin-right: 15px;
          }
        }
      }
    }
  }

}