.testimonial {
  background-color: #fff;

  .testimonial_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    .testimonial_img {
      width: 170px;
      margin-right: 40px;
    }
  }
}