.what_our_customer_say {
  background-color: #fff;
  padding: 0px 0 100px;

  .container {
    width: 1200px;
    margin: 0 auto;

    .heading {
      text-align: center;
      margin-bottom: 20px;
  
      h4 {
        color: #000;
        font-size: 54px;
        line-height: 60px;
        width: 490px;
        margin: 0 auto 20px;
      }
    }

    .slider {
      margin-top: 70px;

      .slider_box {
        padding: 40px 20px;
        border-radius: 25px;
        background-color: #F1F1F1;
        height: 390px;
        margin: 0 10px;
        
        .upper_row {
          margin-bottom: 60px;
          
          .description {
            width: 75%;

            p {
              span {
                font-weight: 500;
                color: rgba(8,8,8,0.8);
              }
              font-size: 16px;
              color: rgba(8,8,8,0.8);
              margin: 0;
            }
          }
        }
        .lower_row {
          .name {
            span {
              font-weight: 600;
              color: rgba(8,8,8,0.8);
            }
          }
          .designation {
            p {
              color: rgba(0,0,0,0.6);
              margin: 0;
              display: inline;
            }
          }
        }
      }
      .slick-dots {
        bottom: -75px;
      }
    }
  } 
}