.why_choose_rework_page {
  background-color: #fff;
  padding: 100px 0;

  @media only screen and (max-width: 1024px) {
    padding: 50px 0;
  }

  @media only screen and (max-width: 767px) {
    padding: 25px 0;
  }
  
  .container {
    .heading {
      text-align: center;
      margin-bottom: 20px;
  
      h4 {
        color: #000;
        font-size: 54px;
        line-height: 60px;
        width: 490px;
        margin: 0 auto 20px;

        @media only screen and (max-width: 1024px) {
          font-size: 43px;
          line-height: 46px;
          width: 100%;
          margin: 0 auto 13px; 
        }
        @media only screen and (max-width: 767px) {
          font-size: 25px;
          line-height: 34px;
          width: 243px;
        }
      }
    }

    .main_content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 60px;

      @media only screen and (max-width: 1024px) {
        display: block;
      }

      @media only screen and (max-width: 767px) {
        margin-top: 30px;
      }

      .left_col {
        width: 30%;
        height: 809px;
        background: linear-gradient(163deg, rgba(248,222,176,1) 0%, rgba(190,121,0,1) 82%);
        border-radius: 25px;
        padding: 40px 25px;

        @media only screen and (max-width: 1024px) {
          margin: 0 auto;
          height: 100%;
          width: 100%;
        }

        .title {
          h4 {
            font-family: "Inter", sans-serif;
            font-size: 49px;
            color: #080808;
            width: 90%;
            margin: 0;

            @media only screen and (max-width: 1024px) {
              font-size: 36px;
              width: 100%;
            }

            @media only screen and (max-width: 767px) {
              font-size: 30px;
            }
          }
        }

        .description {
          margin: 100px 0;

          @media only screen and (max-width: 1024px) {
            margin: 30px 0;
          }

          @media only screen and (max-width: 767px) {
            margin: 12px 0;
          }

          p {
            font-family: "Inter", sans-serif;
            color:  rgb(8,8,8,0.8);
            font-size: 28px;
            margin: 0;
            line-height: 37px;
            width: 75%;

            @media only screen and (max-width: 1024px) {
              line-height: 29px;
              font-size: 20px;
              width: 100%;
            }

            @media only screen and (max-width: 767px) {
              line-height: 19px;
              font-size: 14px;
            }
          }
        }
      }

      .right_col {
        width: 70%;
        margin-left: 20px;

        @media only screen and (max-width: 1024px) {
          width: 100%;
          margin-left: 0;
          margin-top: 20px;
        }

        .upper_row {
          border-radius: 25px;
          background: linear-gradient(163deg, rgba(100,100,100,1) 0%, rgba(10,10,10,1) 82%);
          padding: 40px 35px;
          margin-bottom: 20px;

          .title {
            h4 {
              font-family: "Inter", sans-serif;
              font-size: 44px;
              color: #F9F9F9;
              width: 90%;
              margin: 0;

              @media only screen and (max-width: 1024px) {
                font-size: 36px;
                width: 100%;
              }

              @media only screen and (max-width: 767px) {
                font-size: 30px;
              }
            }
          }
  
          .description {
            margin: 35px 0px;

            @media only screen and (max-width: 1024px) {
              margin: 30px 0;
            }

            @media only screen and (max-width: 767px) {
              margin: 14px 0;
            }

            p {
              font-family: "Inter", sans-serif;
              color:   rgb(249,249,249,0.8);
              font-size: 26px;
              font-weight: 400;
              margin: 0;
              line-height: 37px;
              width: 70%;

              @media only screen and (max-width: 1024px) {
                line-height: 29px;
                font-size: 20px;
                width: 100%;
              }

              @media only screen and (max-width: 767px) {
                line-height: 19px;
                font-size: 13px;
              }
            }
          }
        }
        .lower_row {
          display: flex;
          justify-content: center;
          justify-content: center;

          .lower_left_col {
            background: linear-gradient(163deg, rgba(178,248,235,1) 0%, rgba(0,107,94,1) 82%);
            border-radius: 25px;
            width: 50%;
            padding: 60px 20px;

            @media only screen and (max-width: 767px) {
              padding: 20px 20px;
            }

            .title {
              h4 {
                font-family: "Inter", sans-serif;
                font-size: 32px;
                color: #080808;
                width: 75%;
                margin: 0;

                @media only screen and (max-width: 767px) {
                  font-size: 18px;
                }
              }
            }
    
            .description {
              margin: 35px 0px;

              @media only screen and (max-width: 767px) { 
                margin: 20px 0px;
              }

              p {
                font-family: "Inter", sans-serif;
                color:  rgb(8,8,8,0.8);;
                font-size: 20px;
                margin: 0;
                line-height: 30px;
                width: 70%;

                @media only screen and (max-width: 767px) {
                  font-size: 14px;
                  line-height: 20px;
                  width: 100%;
                }
              }
            }
          }

          .lower_right_col {
            background: linear-gradient(163deg, rgba(247,175,220,1) 0%, rgba(112,0,69,1) 82%);
            border-radius: 25px;
            width: 50%;
            padding: 60px 20px;
            margin-left: 20px;

            @media only screen and (max-width: 767px) {
              padding: 20px 20px;
            }

            .title {
              h4 {
                font-family: "Inter", sans-serif;
                font-size: 32px;
                color: #080808;
                width: 65%;
                margin: 0;

                @media only screen and (max-width: 767px) {
                  font-size: 18px;
                }
              }
            }
    
            .description {
              margin: 35px 0px 62px;

              @media only screen and (max-width: 767px) { 
                margin: 20px 0px;
              }

              p {
                font-family: "Inter", sans-serif;
                color:  rgb(8,8,8,0.8);;
                font-size: 20px;
                margin: 0;
                line-height: 30px;
                width: 75%;

                @media only screen and (max-width: 767px) {
                  font-size: 14px;
                  line-height: 20px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}