// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Dm-Sans font 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// font-family: "Inter", sans-serif;
// font-family: "Manrope", sans-serif;
// font-family: "Roboto", sans-serif;
// font-family: "DM Sans", sans-serif;

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.body_content {
  height: calc(100vh - 94px);
  overflow: auto;
  padding: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width: 1024px) {
    width: 90%;
  }
}